<a href="https://colab.research.google.com/github/DepartmentOfStatisticsPUE/air-2024/blob/main/notebooks/1_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pzn=pd.read_excel("rent-poznan.xlsx")
pzn.head()

,id,date_activ,date_modif,date_expire,individual,price,flat_area,flat_rooms,flat_floor_no,flat_build_year,...,flat_internet,flat_television,flat_phone,flat_anti_blinds,flat_anti_doors_windows,flat_intercom,flat_monitoring,flat_alarm_sys,flat_closed_area,quarter
0,19576742,2015-03-24,2020-09-05,2020-10-05,True,1400,30.0,1,2.0,0,...,False,False,False,False,False,True,False,False,False,Rataje
1,20292499,2013-07-19,2020-08-30,2020-09-09,True,4600,160.0,4,4.0,1900,...,True,True,True,False,False,True,True,True,False,Stare Miasto
2,25876297,2014-04-05,2019-09-10,2019-09-30,True,2300,54.0,3,1.0,2009,...,True,True,False,True,True,True,True,False,True,Centrum
3,30574847,2014-08-10,2020-03-03,2020-03-10,True,1600,49.0,2,5.0,0,...,False,False,False,False,True,True,False,False,False,Górna Wilda
4,30774505,2014-08-17,2019-11-15,2019-12-15,True,1200,32.5,1,3.0,2000,...,False,False,False,False,False,True,True,False,False,Rataje

# Zajęcia 2023.10.20

Plan na dzisiaj:

- poznać sposób wyboru wierszy
- agregacja danych
- potokowe przetwarzanie ramek danych

In [6]:
pzn[pzn.price == 600]
pzn[ pzn["price"] == 600 ]
pzn[ pzn["flat_internet"] != True] ## pzn[ pzn["flat_internet"] == False]

,id,date_activ,date_modif,date_expire,individual,price,flat_area,flat_rooms,flat_floor_no,flat_build_year,...,flat_internet,flat_television,flat_phone,flat_anti_blinds,flat_anti_doors_windows,flat_intercom,flat_monitoring,flat_alarm_sys,flat_closed_area,quarter
0,19576742,2015-03-24,2020-09-05,2020-10-05,True,1400,30.0,1,2.0,0,...,False,False,False,False,False,True,False,False,False,Rataje
3,30574847,2014-08-10,2020-03-03,2020-03-10,True,1600,49.0,2,5.0,0,...,False,False,False,False,True,True,False,False,False,Górna Wilda
4,30774505,2014-08-17,2019-11-15,2019-12-15,True,1200,32.5,1,3.0,2000,...,False,False,False,False,False,True,True,False,False,Rataje
6,31142157,2014-08-30,2019-08-23,2019-09-20,True,1500,47.0,2,2.0,2006,...,False,False,False,False,False,False,False,False,False,Naramowice
13,33197305,2014-11-13,2020-08-24,2020-09-06,True,1400,35.0,1,2.0,1997,...,False,False,False,False,False,True,False,False,False,Strzeszyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16443,60994206,2020-09-25,2020-09-25,2020-10-25,False,930,41.0,1,NaN,0,...,False,False,False,False,False,False,False,False,False,Piątkowo
16444,60994207,2020-09-25,2020-09-25,2020-10-25,False,950,41.0,1,NaN,0,...,False,False,False,False,False,False,False,False,False,Ogrody
16445,60994208,2020-09-25,2020-09-25,2020-10-25,False,920,41.0,1,NaN,0,...,False,False,False,False,False,False,False,False,False,Malta
16446,60994209,2020-09-25,2020-09-25,2020-10-25,False,990,41.0,1,NaN,0,...,False,False,False,False,False,False,False,False,False,Stare Miasto
16447,60994243,2020-09-25,2020-09-25,2020-10-25,True,1250,32.0,1,NaN,0,...,False,False,False,False,False,True,False,False,False,Winogrady

Mieszkania dla studentów w cenie poniżej 700 zł.

In [10]:
pzn[ (pzn["flat_for_students"] == True) & (pzn["price"] < 700)].shape

(34, 51)

Wybieramy nieruchomości o cenie do 300 zł, a także te powyżej 15000

In [ ]:
pzn[ (pzn["price"] <= 300) | (pzn["price"] > 15000)][["ad_title", "price"]]

Wybieramy rekordy, w których cena jest z przedziału [1000, 1200]

In [17]:
pzn[(pzn["price"] >= 1000) & (pzn["price"] <= 1200)].shape

(1996, 51)

In [ ]:
pzn[pzn["price"].between(1000, 1200)].shape

Wybieramy rekordy, w których cena jest z przedziału (1000, 1200]

In [19]:
pzn[pzn["price"].between(1000, 1200, inclusive="right")].shape

(1643, 51)

Wyszukujemy nieruchomości na wynajem na Naramowicach.

In [23]:
pzn[ pzn["quarter"] == "Naramowice"].shape

(549, 51)

Nieruchomości na wynajem na Naramowicach lub Winogradach

In [26]:
pzn[ pzn["quarter"].isin(["Naramowice", "Winogrady"])].shape

(1642, 51)

Zadania 1

+ ile rekordów dotyczyło nieruchomości o jednym pokoju i cenie ponad 5 tys. zł? - 1
+ ile rekordów miało cenę mniejszą od 350 zł? Czy były to mieszkania na wynajem? - 11
+ ile rekordów miało podaną cenę 1500 i było z Centrum lub Rataj? - 241

Wyznaczamy podstawowe statystyki opisowe

In [ ]:
pzn['price'].describe()
pzn['price'].describe().reset_index() ## tworzy ramkę danych
pzn['price'].mean()

Wyznaczamy średnią cenę według liczby pokoi

In [ ]:
pzn.groupby("flat_rooms")["price"].mean().reset_index()

In [ ]:
pzn.groupby(["individual", "flat_rooms"])["price"].mean().reset_index()

Wyznaczamy średnią, medianę i liczbę rekordów według liczby pokoi

In [44]:
pzn.groupby("flat_rooms")["price"].agg(["mean", "median", "count"]).reset_index()

    flat_rooms         mean  median  count
0            1  1301.305543  1300.0   4438
1            2  1762.684897  1700.0   8283
2            3  2187.095574  2000.0   3118
3            4  2799.382000  2500.0    500
4            5  3174.126984  3000.0     63
5            6  3890.761905  4000.0     21
6            7   637.777778   570.0      9
7            8  2125.000000  2125.0      2
8            9  4851.800000  4950.0      5
9           10  7000.000000  7000.0      1
10          11  9262.500000  2700.0      8

Wyznaczam medianę ceny oraz powierzchni według liczby pokoi

In [ ]:
pzn.groupby("flat_rooms").agg(cena = pd.NamedAgg("price", "median"),
                              pow = pd.NamedAgg("flat_area", "median")).reset_index()

In [47]:
(
    pzn
    .groupby("flat_rooms")
    .agg(cena = pd.NamedAgg("price", "median"),
         pow = pd.NamedAgg("flat_area", "median"))
    .reset_index()
)

    flat_rooms    cena    pow
0            1  1300.0   30.0
1            2  1700.0   47.0
2            3  2000.0   63.0
3            4  2500.0   85.0
4            5  3000.0  112.0
5            6  4000.0  134.8
6            7   570.0   12.0
7            8  2125.0   60.5
8            9  4950.0  170.0
9           10  7000.0  250.0
10          11  2700.0  220.0

Zadania 2

+ ile wynosi średnia cena mieszkań 2 pokojowych na Ratajach? - 1607
+ ile wynosi mediana ceny i powierzchni nieruchomości na Naramowicach? - [49, 1600]
+ gdzie było najmniej, a gdzie najwięcej ogłoszeń dot. kawalerek (1 pokój)? -