<a href="https://colab.research.google.com/github/DepartmentOfStatisticsPUE/air-2024/blob/main/notebooks/3_porzadkowanie_topsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Wczytujemy biblioteki

In [ ]:
import pandas as pd
import numpy as np

Wczytujemy dane o powiatach

In [ ]:
powiaty = pd.read_excel(io = "Powiaty.xls")
powiaty.head()

                   Powiaty   Id      X1_s  ...      X4_d      X5_d      X6_d
0               chodzieski  251  0.638029  ...  0.282360  0.536464  0.064824
1  czarnkowsko-trzcianecki  252  0.635018  ...  0.295556  0.512332  0.115621
2             gnieźnieński  253  0.571948  ...  0.308769  0.468553  0.246254
3                gostyński  254  0.707542  ...  0.362074  0.470871  0.077338
4                grodziski  255  0.645110  ...  0.412271  0.417134  0.141414

[5 rows x 8 columns]

1. Standaryzacja zmiennych zgodnie ze wzorem

$$
z_{ij} = \frac{x_{ij}}{\sqrt{\sum_{i=1}^n x_{ij}^2}}
$$

In [ ]:
z_s=(powiaty[["X1_s", "X2_s", "X3_d", "X4_d", "X5_d", "X6_d"]]**2).sum(axis = 0)
z_mianownik = z_s**0.5
z_mianownik

X1_s        3.676294
X2_s    10918.202379
X3_d        1.106199
X4_d        1.986000
X5_d        2.844181
X6_d        1.003010
dtype: float64

In [ ]:
z = powiaty[["X1_s", "X2_s", "X3_d", "X4_d", "X5_d", "X6_d"]] / z_mianownik
z.head()

       X1_s      X2_s      X3_d      X4_d      X5_d      X6_d
0  0.173552  0.151014  0.208823  0.142175  0.188618  0.064630
1  0.172733  0.164894  0.224191  0.148820  0.180133  0.115274
2  0.155577  0.164969  0.209727  0.155473  0.164741  0.245515
3  0.192461  0.166261  0.175375  0.182313  0.165556  0.077106
4  0.175478  0.156703  0.109384  0.207589  0.146662  0.140990

2. Wyznaczamy wartości dla obiektów idealnych i antyidelanych

In [ ]:
obiekt_idealny = [max(z.X1_s), max(z.X2_s), min(z.X3_d), min(z.X4_d), min(z.X5_d), min(z.X6_d)]
obiekt_antyidealny = [min(z.X1_s), min(z.X2_s), max(z.X3_d), max(z.X4_d), max(z.X5_d), max(z.X6_d)]

print(obiekt_idealny)
print(obiekt_antyidealny)

[0.22121476485417835, 0.23008641100791236, 0.062375737297899976, 0.12229443384211286, 0.12260918638277757, 0.06462989303529562]
[0.05872594250217568, 0.12421458706712261, 0.2522149377697695, 0.20758859120913623, 0.2119391577175565, 0.4915843499953889]

3. Obliczamy odległości $d_i^{+}$ i $d_{i}^{-}$

In [ ]:
##
d_plus = np.sqrt( ((z - obiekt_idealny)**2).sum(axis = 1) )
d_minus = np.sqrt( ((z - obiekt_antyidealny)**2).sum(axis = 1) )
d_plus.head()

0    0.186342
1    0.198399
2    0.256625
3    0.152551
4    0.152877
dtype: float64

4. Oblicamy

In [ ]:
powiaty["d_minus"] = d_minus
powiaty["d_plus"] = d_plus
powiaty["R"] = d_minus / (d_minus+d_plus)
powiaty.sort_values(by = "R",  ascending = False, inplace=True)
powiaty.head(10)

          Powiaty   Id      X1_s  ...   d_minus    d_plus         R
20      poznański  275  0.813250  ...  0.445475  0.090913  0.830509
33         Leszno  266  0.614669  ...  0.445964  0.111851  0.799484
17  ostrzeszowski  271  0.640974  ...  0.464411  0.121770  0.792265
12    leszczyński  265  0.715630  ...  0.453545  0.120493  0.790096
23    szamotulski  277  0.636074  ...  0.445688  0.121636  0.785597
34         Poznań  274  0.603762  ...  0.420864  0.115639  0.784458
28    wolsztyński  280  0.757820  ...  0.461241  0.130721  0.779174
25        śremski  285  0.617139  ...  0.451038  0.136523  0.767644
24        średzki  284  0.652566  ...  0.456132  0.140115  0.765005
21        rawicki  276  0.650416  ...  0.447261  0.137761  0.764519

[10 rows x 11 columns]