<a href="https://colab.research.google.com/github/DepartmentOfStatisticsPUE/air-2024/blob/main/notebooks/air_pivot_cwiczenia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

**Zadanie 1**

Zadeklaruj poniższą ramkę danych

|country     | year|  cases| population|
|:-----------|----:|------:|----------:|
|Afghanistan | 1999|    745|   19987071|
|Afghanistan | 2000|   2666|   20595360|
|Brazil      | 1999|  37737|  172006362|
|Brazil      | 2000|  80488|  174504898|
|China       | 1999| 212258| 1272915272|
|China       | 2000| 213766| 1280428583|

a następnie utwórz następującą ramkę danych

|country     | year|variables  |     values|
|:-----------|----:|:----------|----------:|
|Afghanistan | 1999|cases      |        745|
|Afghanistan | 1999|population |   19987071|
|Afghanistan | 2000|cases      |       2666|
|Afghanistan | 2000|population |   20595360|
|Brazil      | 1999|cases      |      37737|
|Brazil      | 1999|population |  172006362|
|Brazil      | 2000|cases      |      80488|
|Brazil      | 2000|population |  174504898|
|China       | 1999|cases      |     212258|
|China       | 1999|population | 1272915272|
|China       | 2000|cases      |     213766|
|China       | 2000|population | 1280428583|

**Zadanie 2**

Zadeklaruj następującą ramkę danych

|country     | year|type       |      count|
|:-----------|----:|:----------|----------:|
|Afghanistan | 1999|cases      |        745|
|Afghanistan | 1999|population |   19987071|
|Afghanistan | 2000|cases      |       2666|
|Afghanistan | 2000|population |   20595360|
|Brazil      | 1999|cases      |      37737|
|Brazil      | 1999|population |  172006362|
|Brazil      | 2000|cases      |      80488|
|Brazil      | 2000|population |  174504898|
|China       | 1999|cases      |     212258|
|China       | 1999|population | 1272915272|
|China       | 2000|cases      |     213766|
|China       | 2000|population | 1280428583|

a następnie utwórz poniższą ramkę danych

|country     |type       |       1999|       2000|
|:-----------|:----------|----------:|----------:|
|Afghanistan |cases      |        745|       2666|
|Afghanistan |population |   19987071|   20595360|
|Brazil      |cases      |      37737|      80488|
|Brazil      |population |  172006362|  174504898|
|China       |cases      |     212258|     213766|
|China       |population | 1272915272| 1280428583|

**Zadanie 3**

Na podstawie wejściowej ramki danych z zadania 2 utwórz następującą ramkę danych

| year|type       | Afghanistan|    Brazil|      China|
|----:|:----------|-----------:|---------:|----------:|
| 1999|cases      |         745|     37737|     212258|
| 1999|population |    19987071| 172006362| 1272915272|
| 2000|cases      |        2666|     80488|     213766|
| 2000|population |    20595360| 174504898| 1280428583|

**Zadanie 4**

Na podstawie ramki danych z 2 zadania utwórz następującą ramkę danych:

|country     | cases_1999| population_1999| cases_2000| population_2000|
|:-----------|----------:|---------------:|----------:|---------------:|
|Afghanistan |        745|        19987071|       2666|        20595360|
|Brazil      |      37737|       172006362|      80488|       174504898|
|China       |     212258|      1272915272|     213766|      1280428583|

**Zadanie 5** -- Przeczytaj artykuł [Tidy data](https://www.jstatsoft.org/article/view/v059i10) i przerób przykłady w Pythonie.